<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gaekdam.gaekdambe.hotel_service.department.query.mapper.DepartmentMapper">


  <select id="findDepartmentList"
    resultType="com.gaekdam.gaekdambe.hotel_service.department.query.dto.response.DepartmentListResponse">
    SELECT
      d.department_code AS departmentCode,
      d.department_name AS departmentName
    FROM department d
    WHERE d.hotel_group_code = #{hotelGroupCode}
  </select>


</mapper>
